.header {
  color: blue;
  background-color: bisque; }

/*head*/
.hyilo {
  color: black;
  background-color: blue;
  z-index: 1000; }

.some-block {
  position: absolute; }

.testinggggg {
  background-color: bisque; }
